<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="titulo">
      <span class="text-600 font-medium">Cambiar contraseña</span>
      <img src="assets/layout/images/logoc.png" class="logo">
    </div>
    <div class="contenedor">
        <div>
          <label for="name" class="texto">Codigo</label>
          <input id="name"  [(ngModel)]="newUser.code" type="text" placeholder="Codigo" pInputText class="titulos" style="padding:1rem" required ng-pattern="/^\w+(\s\w`)`$/">

          <label for="user" class="texto">Contraseña</label>
          <input id="user"  [(ngModel)]="newUser.passwordA" type="password" placeholder="Contraseña" pInputText class="titulos" style="padding:1rem" required ng-pattern="/^\w+(\s\w`)`$/">

          <label for="correo" class="texto">Repetir contraseña</label>
          <input id="correo" type="password" name="correo" [(ngModel)]="newUser.passwordB" type="password" placeholder="Repetir contraseña" pInputText class="titulos" style="padding:1rem" pattern=".+@gmail\.com" size="30" required>




          <div class = "boton">
            <p-button label="Registrar" styleClass="p-button-rounded p-button-secondary" (click)="register()"></p-button>
          </div>

          
        <app-toast></app-toast>

        </div>
      </div>
  </div>
</div>
