<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <img src="assets/layout/images/logoc.png" class="logo">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="titulo">
      <span class="text-600 font-medium">Agregar Empleado</span>
    </div>
    <div class="contenedor">
        <div>

          <label for="name" class="texto">Cedula</label>
          <input id="name"  [(ngModel)]="newempleado.cedula" type="text" placeholder="Nombre" pInputText class="titulos" style="padding:1rem">

          <label for="email" class="texto">Nombre</label>
          <input id="email"  [(ngModel)]="newempleado.name" type="text" placeholder="Usuario" pInputText class="titulos" style="padding:1rem">

          <label for="password" class="texto">Apellido</label>
          <p-password id="password" [(ngModel)]="newempleado.apellido" placeholder="Password" [toggleMask]="true" inputStyleClass="titulos"></p-password>

          <label for="direccion" class="texto">Contacto</label>
          <input id="direccion"  [(ngModel)]="newempleado.contacto" type="text" placeholder="Direccion" pInputText class="titulos" style="padding:1rem">

          <label for="direccion" class="texto">Arl</label>
          <input id="direccion"  [(ngModel)]="newempleado.arl" type="text" placeholder="Direccion" pInputText class="titulos" style="padding:1rem">

          <div class="contraseñaOlvidar">
            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">¿Olvidaste tu contraseña?</a>
          </div>
          <button pButton pRipple label="Ingresar" class="boton" styleClass="p-button-rounded p-button-secondary" (click)="singin()" routerLink="/admin" ></button>
        </div>
      </div>
  </div>
</div>
