<app-menubar></app-menubar>
<div class="global">
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12">
      <p-table [value]="servicios" selectionMode="single" [(selection)]="serviceSelected" dataKey="id" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Creado por</th>
            <th>Rol</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr [pSelectableRow]="service">
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.user.name }}</td>
            <td>{{ service.user.role }}</td>
            <td>
              <p-button icon="pi pi-pencil" (click)="update(service)" styleClass="p-button-rounded p-button-help p-button-outlined"></p-button>
            </td>
            <td>
              <p-button icon="pi pi-times" (click)="delete(service)" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <a class="center">
        <button class="agservicio" (click)="showDialog(true, 0)" *ngIf="role !== 'C'">Agregar Servicio</button>
      </a>


      <div>
        <h3>{{serviceSelected?.name}} - {{serviceSelected?.description}}</h3>
      </div>

      <p-table [value]="tipoServicios"  [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.value }}</td>
            <td>
              <p-button icon="pi pi-pencil" (click)="update(service)" styleClass="p-button-rounded p-button-help p-button-outlined"></p-button>
            </td>
            <td>
              <p-button icon="pi pi-times" (click)="deleteKindOf(service)" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <a *ngIf="serviceSelected" class="center">
        <button class="agservicio" (click)="showDialog(true, 1)">Agregar Tipo Servicio</button>
      </a>

    </div>
  </div>
  <p-dialog header="Agregar servicio" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <div class="contenedor">
    <div>
      <label for="name" class="texto">Nombre</label>
      <input id="name" [(ngModel)]="newService.name"  type="text" placeholder="Nombre del servicio" pInputText class="titulos"
        style="padding:1rem" required ng-pattern="/^\w+(\s\w`)`$/">

      <label for="user" class="texto">Descripción</label>
      <input id="user" [(ngModel)]="newService.description" type="text" placeholder="Descripción del servicio" pInputText class="titulos"
        style="padding:1rem" required ng-pattern="/^\w+(\s\w`)`$/">

      <div class="boton">
        <p-button [label]="labelBoton" (click)="agregar()" styleClass="p-button-rounded p-button-secondary"></p-button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Agregar Tipo Servicio" [(visible)]="visible2" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <div class="contenedor">
    <div>
      <label for="name" class="texto">Nombre</label>
      <input id="name" [(ngModel)]="newTipoService.name"  type="text" placeholder="Nombre del servicio" pInputText class="titulos"
        style="padding:1rem" required ng-pattern="/^\w+(\s\w`)`$/">

      <label for="value" class="texto">Valor</label>
      <input id="value" [(ngModel)]="newTipoService.value" type="text" placeholder="Valor del servicio" pInputText class="titulos"
        style="padding:1rem" required ng-pattern="/^\w+(\s\w`)`$/">

      <div class="boton">
        <p-button [label]="labelBoton" (click)="agregarTipoServicio()" styleClass="p-button-rounded p-button-secondary"></p-button>
      </div>
    </div>
  </div>
</p-dialog>



<app-toast></app-toast>
</div>

