<app-menubar></app-menubar>
<div class="global">
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12">
      <p-table [value]="servicios" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo de Servicio</th>
          <th>Precio por Metro Cúbico</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-servicios>
        <tr *ngFor="let servicio of servicios">
          <td>{{ servicio.id }}</td>
          <td>{{ servicio.nombre }}</td>
          <td>{{ servicio.descripcion }}</td>
          <td>{{ servicio.tipoServicio }}</td>
          <td>{{ servicio.precioMetroCubico }}</td>
        </tr>
        </ng-template>
      </p-table>


      <a routerLink='/agregarservicio'>
        <button class="agservicio">Agregar Servicio</button>
      </a>

    </div>
  </div>

</div>
