<app-menubar></app-menubar>
<div class="global">

  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="global">
      <div class="col-12" style="text-align: left;">

        <div class="titulo">
          <span class="text-600 font-medium">Bienvenido Empleado</span>
        </div>

        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false"
                    [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
              <div class="mb-3">
                <img src="{{ product.image }}" [alt]="product.name" class="w-6 shadow-2"/>
              </div>
            </div>
          </ng-template>
        </p-carousel>

      </div>
    </div>
  </div>
</div>

