<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/layout/images/logoc.png" height="80" class="mr-2"/>
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" class="w-full"/>
  </ng-template>
</p-menubar>
<!-- inicio-empleado.component.html -->
<div class="global">
  <div class="surface-ground flex align-items-start justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12 ">


      </div>
    </div>
  </div>

