<!-- inicio-empleado.component.html -->
<div class="global">
  <div class="surface-ground flex align-items-start justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12 ">


      <nav class="navItems">
        <img src="assets/layout/images/logo.png" class="logo">
        <h3>Servicios </h3>
        <h3>Clientes </h3>
        <h3>Agenda </h3>


      </nav>

      <h2>Bienvenido</h2>

      <div class="card">
        <h3>Servicios </h3>
        <button class="button" (click)="verServicios()">Ver Servicios</button>
      </div>
      <div>
        <h3>Clientes</h3>
        <button class="button" (click)="verClientes()">Ver clientes</button>
      </div>

      <div class="card">
        <h3>Agenda</h3>
        <button class="button" (click)="verAgenda()">Ver Agenda</button>
      </div>
    </div>
  </div>
</div>
