<app-menubar></app-menubar>
<div class="global">
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12">
      <div class="titulo">
        <span class="text-600 font-medium">Agenda del Día</span>
      </div>
      <div style="text-align: center;">
        <span class="p-float-label">
          <p-dropdown
            [options]="servicios"
            (ngModelChange)="changeOptions($event)"
            [(ngModel)]="servicioSeleccionado"
            placeholder="Selecciona servicio"
            optionLabel="name"
            optionValue="id"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Selecciona servicio</label>
        </span>

        <span class="p-float-label">
          <p-dropdown
            [options]="tipoServicios"
            [(ngModel)]="tipoServicioSeleccionado"
            placeholder="Selecciona tipo de servicio"
            optionLabel="name"
            optionValue="id"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Selecciona tipo de servicio</label>
        </span>

        <span class="p-float-label">
          <p-dropdown
            [options]="availableHours"
            [(ngModel)]="selectedHours"
            placeholder="Selecciona horas"
            optionLabel="name"
            optionValue="id"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Seleccionar horas</label>
        </span>
      </div>

    </div>
  </div>
</div>
