<app-menubar></app-menubar>
<div class="global">
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="col-12">
      <div class="titulo">
        <span class="text-600 font-medium">Agenda del Día</span>
      </div>
      <p-calendar class="calendario" [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>

      <div *ngFor="let servicio of programacion">
        <div class="servicio">
          <p>{{ servicio.hora }} - {{ servicio.nombre }}</p>
          <button (click)="cancelarServicio(servicio)">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
</div>

