/* styles.css o styles.scss */

/* Estilos generales para pantallas grandes */
@media (min-width: 768px) {
  /* Agrega estilos para pantallas más grandes aquí */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  /* Agrega estilos para pantallas más pequeñas aquí */
}


/* Fondo */
:host body, :host html {
  overflow: hidden;
}

:host .surface-ground {
  background-image: url("src/assets/layout/images/fondo.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.logo{
  position: absolute;
  top: 0;
  left: 30px;
  width: 200px;
  height: 200px;
}

.titulo{
  font-size: 40px;
  text-align: center;
  margin-top: 0%;
  font-family: Arial, sans-serif;
}

.p-float-label {
  display: inline-block; /* o display: inline; */
  margin-right: 10px; /* Añade espacio entre los botones si es necesario */
  font-family: Arial, sans-serif;
}
