<app-menubar></app-menubar>

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="surface-ground flex flex-column align-items-center justify-content-center">
    <div class="titulo">
      <span class="text-600 font-medium">Agregar Nuevo Cliente</span>
    </div>
    <form (ngSubmit)="agregarCliente()" #clienteForm="ngForm">
      <div class="contenedor">
        <div>
          <label for="name" class="texto">Nombre</label>
          <input id="name" [(ngModel)]="nuevoCliente.nombre" name="nombre" type="text" placeholder="Nombre" pInputText class="titulos" required>

          <label for="Apellido" class="texto">Apellido</label>
          <input id="apellido" [(ngModel)]="nuevoCliente.apellido" name="apellido" type="text" placeholder="Apellido" pInputText class="titulos" required>

          <label for="user" class="texto">Usuario</label>
          <input id="user" [(ngModel)]="nuevoCliente.user" type="text" placeholder="Usuario" pInputText
                 class="titulos" style="padding:1rem" required>

          <label for="direccion" class="texto">Direccion</label>
          <input id="direccion" [(ngModel)]="nuevoCliente.direccion" type="text" placeholder="Direccion" pInputText
                 class="titulos" style="padding:1rem" required>

          <label for="telefono" class="texto">Telefono</label>
          <input id="telefono" type="tel" name="telefono" [(ngModel)]="nuevoCliente.telefono" type="text"
                 placeholder="telefono" pInputText class="titulos" style="padding:1rem" pattern=".+@gmail\.com"
                 size="30" required>

          <!-- Repite lo anterior para los otros campos del formulario -->

          <div class="boton">
            <p-toast key="showMultiple"></p-toast>
            <button type="submit" pButton pRipple label="Agregar Cliente"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
