<div class="surface-ground  min-h-screen min-w-screen overflow-hidden">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="titulo">
        <span class="text-600 font-medium">Crear Nueva Cuenta</span>
        <img src="assets/layout/images/logoc.png" class="logo">
      </div>
      <div class = "contenedor">
        <ng-form (ngSubmit)="agregarCliente()" #clienteForm="ngForm">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoCliente.nombre" class="form-control"  pInputText class="titulos" style="padding:1rem" required>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" [(ngModel)]="nuevoCliente.apellido" class="form-control"  pInputText class="titulos" style="padding:1rem" required>
          </div>
          <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="nuevoCliente.direccion" class="form-control"  pInputText class="titulos" style="padding:1rem" required>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" [(ngModel)]="nuevoCliente.telefono" class="form-control"  pInputText class="titulos" style="padding:1rem" required>
          </div>
          <div class = "boton">
            <p-button label="Agregar Cliente" styleClass="p-button-rounded p-button-secondary"></p-button>
          </div>
        </ng-form>
      </div>

    </div>
  </div>
</div>




